* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

section {
	padding: 50px 0;
}

nav {
	background: #02908B;
	position: fixed;
	z-index: 100;
	width: 100%;
}

nav > a {
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 700;	
	color: #fff;
	text-decoration: none;
	margin: 10px 0 0 25px;
	position: absolute;
}

nav span {
	font-family: 'Open Sans', sans-serif;
	color:  #cfc91d;
	text-align: left;	
}

nav ul {
	margin: 18px 25px 18px 0;
	float: right;
}

nav li {
	display: inline-block;
	padding:0 15px;
}

@media (max-width: 700px) {
	nav {
		text-align: center;
		position: relative;
	}
	nav > a {
		margin: 0 auto 10px;
		display: block;
		position: relative;
	}
	nav ul {
		float: none;
		display: inline-block;
		margin: 10px auto;
	}
	nav li {
		margin: 5px auto;
		padding: 0;
		width: 100%;
	}
}

nav li > a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

nav li > a:hover,
nav li > a:focus {
	color: #cfc91d;
}

header {
	box-sizing: content-box;
	background-attachment: fixed;
	background-image: url(../img/headerbg.png);
	min-height: 500px;
	padding-top: 15%;
	text-align: center;
	color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

header h1 {
	font-size: 36px;
	margin: 0;
}

header h2 {
	font-size: 72px;
	letter-spacing:20px;
	margin: 0;
}

header p {
	margin-top: 0;
}

header img {
	padding:35px 0;
}

@media (max-width: 700px) {
	header {
		min-height: 380px;
		padding-top: 9%;
		padding-bottom: 18px;
	}
	header h2 {
		font-size: 8vw;
		letter-spacing: 2vw;
	}
	header h1 {
		font-size: 6vw;
	}
	header p {
		font-size: 4vw;
	}
}

.yellowbtn {
	background-color: #CDC71D;
	color: #0B1016;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 35px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.yellowbtn:hover {
	background-color: #fff; 
	color: #0B1016;
	cursor: pointer;
}

#about {
	text-align: center;
}

#about .title,
#service .title, 
#contact .title{
	color: #02918c;
	font-size: 46px;
	font-weight: bold;
	margin-bottom: 0;
}

#about img {
	margin: 15px 0;	
}

#about > p {
	color: #7e8287;
	line-height: 41px;
	margin: 0 auto;
	width:70%;
}

#about span {
	font-size: 23px;
	font-weight: bold;
}

.aboutBoxes {
	color: #7e8287;
    margin: 0 auto;
    width: 80%;
}

.aboutBox {
    border-right: 1px solid black;
	float: left;
    margin: 3% 0;
    padding: 0 4%;
    width: 24%;
}

@media (max-width: 700px) {
	.aboutBox {
		width: 95%;
		border-right: none;
		margin: 0 auto;
		float: none;
	}
}

.aboutBox:last-child {
	border: none;
}

.aboutBox h2 {
	font-size: 18px;
	margin: 20px 0;
}

.aboutBox p { 
	font-size: 11px;
	font-weight: bold;
	margin: 20px 0;
}

.aboutBox i {
	color: #02918c;
}

#service {
	background-image: url(../img/service.png);
	background-size: cover;
	background-position: 47% 65%;
	display: inline-block;
	padding-left: 10%;
}

.serviceWrapper {
	width: 40%;
}

#service img {
	margin: 15px 0;	
}

.serviceWrapper > p {
    color: #7e8287;
	line-height: 41px;
}

.serviceBox {
	float: left;
    width: 40%;
    color: #7e8287;
}

.serviceBox.left {
	margin-left: 15%;
}

.serviceBox i {
	color:  #02918c;
	margin: 5px 0;
}

.serviceBox h2 {
	font-size: 18px;
	margin: 10px 0;
}

.serviceBox > p {
	font-size: 11px;
	font-weight: bold;
	margin: 15px 0;
}

@media (max-width: 700px) {
	#service {
		background-position: 2%;
	}
	.serviceWrapper {
		width: 100%;
	}
}

#contact {
	text-align: center;
	padding-bottom: 0px;
}

#contact img {
	margin: 15px 0;	
}

#contact p {
    color:  #7e8287;
	line-height: 41px;
	width: 53%;
    margin: 0 auto 5%;
}

form {
	background: #0B0B0B;
	color: #7D8186;
	padding: 20px 0 1px 0;
}

form label {
	margin: 30px 0 5px 0;
	display: inline-block;
	width: 100%
}

#contact input, textarea {
	display: inline-block;
	width: 60%;
	background: transparent;
	border: none;
	border-bottom: 1px solid #7D8186;
	color:#7D8186;
	font-size: 24px;
	text-align: center;
}

#contact textarea {
	border-top: 1px solid #7D8186;
	text-align: left;
}

#contact input:focus,
#contact textarea:focus {
	outline: none;
}

#contact button {
	border-style: none;
	display: block;
	margin: 30px auto;
}

#sitefooter {
	background: #000;
	padding: 15px 0;
	width: 100%;
}

#sitefooter p {
	color:  #7e8287;
	text-align: center;
}